body {
    font-family: Verdana;
    margin: 0px;
    padding: 0px;
}
.joehead{
    margin-left: 8%;
    font-size: 35px;
}
.grid-container{
    margin-left: 10px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 300px 350px 300px 300px;
    grid-template-rows: 60px 280px 280px 240px 100px;
    grid-template-areas: 
    "cover title learn learn"
    "buildc buildt buildl buildl"
    "leanc leant leanl leanl"
    "minimalc minimalt minimall minimall"
    "add export export home";

}
.item-1{
    grid-area: cover;
    margin: auto;
}
.item-2{
    grid-area: title;
    margin: auto;
}
.item-3{
    grid-area: learn;
}
.item-4{
    grid-area: buildc;
    width: 80px;
    height: 80px;
    margin-left: 35%;
}
.item-5{
    grid-area: buildt;
    margin: auto;
}
.item-6{
    grid-area: buildl;
    margin: auto;
}
.item-7{
    grid-area: leanc;
    width: 880px;
    height: 80px;
    margin-left: 35%;
}
.item-8{
    grid-area: leant;
    margin: auto;
}
.item-9{
    grid-area: leanl;
    margin: auto;
}
.item-10{
    grid-area: minimalc;
    width: 80px;
    height: 80px;
    margin-left: 35%;
    margin-top: 20px;
}
.item-11{
    grid-area: minimalt;
    margin: auto;
}
.item-12{
    grid-area: minimall;
    margin: auto;
}
.item-13{
   grid-area: add;
   color: white;
    background-color: black;
    width: 150px;
    height: 50px;
    box-shadow: 5px 5px 5px black;
    border-radius: 25px;
    margin-left: 45%;
    margin-bottom: 2%;
}
.item-14{
    grid-area: home;
    color: white;
     background-color: black;
     width: 230px;
     height: 70px;
     box-shadow: 5px 5px 5px  black;
     border-radius: 25px;
     margin-left: 42%;
     margin-bottom: 2%;
 }
 .item-15{
    grid-area: export;
    color: white;
     background-color: black;
     width: 150px;
     height: 50px;
     box-shadow: 5px 5px 5px  black;
     border-radius: 25px;
     margin-left: 45%;
     margin-bottom: 2%;
 }
 .item-16{
    grid-area: export;
    color: white;
     background-color: black;
     width: 150px;
     height: 50px;
     box-shadow: 5px 5px 5px  black;
     border-radius: 25px;
     margin-left: 45%;
     margin-bottom: 10%;
 }
a{
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 15px 0px;    
    display: block;
}
a:active { 
    text-decoration: none; 
}
a:hover{
    text-decoration: none;
}
.login-box{
    width: 50%;
    margin-left: 25%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    margin-top: 10%;
}
input{
    display: block; 
    width: 80%;
    margin-left: 10%;
    height: 40px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
}
h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.userpage-link{
    background-color: black;
    width: 20%;
    margin-top: 15px;
    margin-left: 40%;
    box-shadow: 5px 5px 5px black;
    border-radius: 25px;
}